{% extends 'base.html' %}

{% block bodyBlock %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}

    <div class="row align-middle" style="height:100%;">
      <div class="columns">

        <div class="row align-middle">
          <div class="columns"><h2 class="text-center">The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</h2></div>
        </div>

      </div>
    </div>
  {% endif %}
{% endblock %}