.incremental-counter .num {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #101010;
    display: inline-block;
    height: 80%;
    /*line-height: 100%;*/
    margin: 0 4.5px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 10%;
    max-width: 100px;
    /*font-size: 5em;*/
    font-size: 10vw;
    font-weight: 900;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45);
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.incremental-counter .num::before {
     background: #101010;
     content: "";
     display: block;
     height: 1px;
     left: -1px;
     margin: -0.5px 0 0;
     position: absolute;
     right: -1px;
     top: 50%;
     width: auto;
}


.callout{

    width: 100%;
    opacity: 0.75;
}
