<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Life counter{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation-flex.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

        {% block headBlock %}{% endblock %}
    </head>

    <body>


      <div class="top-bar">
        <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
          <strong>Life counter</strong>
        </div>
        <div id="responsive-menu">

          <div class="top-bar-left">

            <ul class="dropdown menu" data-dropdown-menu>

              {% if user.is_authenticated %}

                  <li class="show-for-small-only"><a href="signOut"><button type="button" class="button" style="width:100%">Sign out</button></a></li>

                  <li class="hide-for-small-only">
                    {{ user.username }}
                    <ul class="menu vertical">
                      <li><a href="signOut"><button type="button" class="button" style="width:100%">Sign out</button></a></li>
                    </ul>
                  </li>


              {% else %}
                  <li><button type="button" class="button" data-open="loginModal">Login</button></li>
                  <div class="tiny reveal" id="loginModal" data-reveal>
                    <h1>Login</h1>

                    <form action="logIn/" method="post">{% csrf_token %}
                        {{ loginUserForm }}
                        <input type="submit" class="button expanded" value="Login">
                    </form>


                    <button class="close-button" data-close aria-label="Close modal" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              {% endif %}
            </ul>

          </div>

        </div>
      </div>








{% if messages %}
  {% for message in messages %}
  <span{% if message.tags %} class="callout {{ message.tags }}"{% endif %}>{{ message }}</span>
  {% endfor %}
{% endif %}

      <div id="mainContent">
          {% block bodyBlock %}{% endblock %}
      </div>

    </body>



    <script>

        $(document).ready(function() {

            $(document).foundation();

            setTimeout(function () {
              $('.callout').remove();
            }, 5000);
        })


        {% block scriptBlock %}{% endblock %}

    </script>


</html>