{% extends 'base.html' %}


{% block headBlock %}
{% load static %}

<script src="{% static 'foundation-datepicker/js/foundation-datepicker.min.js' %}"></script>
<script src="{% static 'foundation-datepicker/js/locales/foundation-datepicker.en-GB.js' %}"></script>

<link rel="stylesheet" href="{% static 'foundation-datepicker/css/foundation-datepicker.min.css' %}">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

<script src="{% static 'script.js' %}"></script>

<script src="{% static 'counter/jquery.incremental-counter.min.js' %}"></script>


{% endblock %}



{% block bodyBlock %}

<br>



<div class="row align-middle" style="height:500px;">
    <div class="columns">
        <div class="row align-middle">
            <div class="columns"><div class="incremental-counter text-center" data-value="27375"></div></div>
        </div>
        <br>

        <div class="row align-middle">
            <div class="columns"><h3 class="text-center">Number of days in a human life</h3></div>
        </div>

        <div class="row align-middle">
            <div class="columns"><h4 class="text-center">Find out how many days you have left to put to good use : </h4></div>
        </div>
    </div>
</div>



<div class="row align-middle" style="height:300px;">
    <div class="columns">
        <form action="newUser/" method="post">{% csrf_token %}
            <div class="row align-middle">
                {% for field in newUserForm %}
                <div class="columns medium-6">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
                {% endfor %}
            </div>
            <div class="row align-spaced">
                <div class="columns medium-4 text-center"><input type="submit" class="button expanded" value="Get my count"></div>
            </div>
        </form>
    </div>
</div>





<div class="row small-up-2 medium-up-3" style="height:600px;" data-equalizer>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important</p>
      </div>
    </div>
  </div>
</div>




{% endblock %}


{% block scriptBlock %}

    $('#id_birthdayDate').fdatepicker({
        initialDate: '02-12-1989',
        format: 'mm-dd-yyyy',
        // keyboardNavigation: false,
        disableDblClickSelection: true,
        leftArrow:'<<',
        rightArrow:'>>',
        closeIcon:'X',
        closeButton: true
        // autoShow: false
    });

    jQuery(function($) {

        $(".incremental-counter").incrementalCounter();
    });

{% endblock %}


