{% extends 'base.html' %}


{% block headBlock %}
{% load static %}

<script src="{% static 'script.js' %}"></script>

<script src="{% static 'counter/jquery.incremental-counter.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.js"></script>

{% endblock %}



{% block bodyBlock %}



<div id="fullpage">

    <div class="section">

      <div class="row align-middle" style="height:100%;">
          <div class="columns">
              <div class="row align-middle">
                  <div class="columns"><div class="incremental-counter text-center" data-value="27375"></div></div>
              </div>
              <br>

              <div class="row align-middle">
                  <div class="columns"><h2 class="text-center">Number of days in a human life</h2></div>
              </div>

              <div class="row align-middle">
                  <div class="columns"><h3 class="text-center">Find out how many days you have left to put to good use : scroll ! </h3></div>
              </div>
          </div>
      </div>

    </div>

    <div class="section">

      <div class="row align-middle" style="height:100%;">
          <div class="columns">
              <form action="newUser/" method="post">{% csrf_token %}

                  <div class="row align-middle">
                    <div class="columns medium-4 large-4">{{ newUserForm.birthYear.errors }}{{ newUserForm.birthYear.label_tag }}{{ newUserForm.birthYear }}</div>
                    <div class="columns medium-4 large-4">{{ newUserForm.birthMonth.errors }}{{ newUserForm.birthMonth.label_tag }}{{ newUserForm.birthMonth }}</div>
                    <div class="columns medium-4 large-4">{{ newUserForm.birthDay.errors }}{{ newUserForm.birthDay.label_tag }}{{ newUserForm.birthDay }}</div>
                  </div>

                  <div class="row align-middle">
                    <div class="columns medium-12 large-12">{{ newUserForm.email.errors }}{{ newUserForm.email.label_tag }}{{ newUserForm.email }}</div>
                  </div>


                  <div class="row align-spaced">
                      <div class="columns medium-4 text-center"><input type="submit" class="button expanded" value="Get my count"></div>
                  </div>
              </form>
          </div>
      </div>

    </div>
</div>
















<!--<div class="row small-up-2 medium-up-3" style="height:600px;" data-equalizer>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba. lerem ipsum blablba</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" data-equalizer-watch>
      <img src="{% static 'elon.jpg' %}">
      <div class="card-section">
        <h4>Elon Musk</h4>
        <p>Time is very important</p>
      </div>
    </div>
  </div>
</div>-->




{% endblock %}


{% block scriptBlock %}
    
    $(document).ready(function() {

        $(".incremental-counter").incrementalCounter({
          "digits": 5
        });
        $('#fullpage').fullpage();
    });

{% endblock %}


