{% extends 'base.html' %}

{% block title %}{{personnalCount}} days{% endblock %}

{% block headBlock %}
{% load static %}

<script src="{% static 'script.js' %}"></script>

<script src="{% static 'counter/jquery.incremental-counter.js' %}"></script>

<script src="{% static 'sharetastic.js' %}"></script>
<link rel="stylesheet" href="{% static 'sharetastic.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.js"></script>


<meta property="og:title" content="LifeCounter" />
<meta property="og:description" content="I still have {{personnalCount}} days to put to good use" />
<meta property="og:url" content="http://lifecounterenv.tjdujbvgdy.eu-central-1.elasticbeanstalk.com/" />
<meta property="og:image" content="" />

{% endblock %}



{% block bodyBlock %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div id="fullpage">

    <div class="section">

        <div class="row align-middle" style="height:100%">
            <div class="columns">
                <div class="row align-middle">
                    <div class="columns"><div class="incremental-counter text-center" data-value="{{personnalCount}}"></div></div>
                </div>
                <br>
                <div class="row align-middle">
                    <div class="columns">
                        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{personnalCount}}" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="27375">
                            <div class="progress-meter"></div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row align-middle">
                    <div class="columns"><div class="sharetastic"></div></div>
                </div>

                <br><br><br>

                <div class="row align-middle">
                    <div class="columns"><h4 class="text-center">Use your next research well : </h4></div>
                </div>

                <form class="row align-middle" method="get" action="https://www.google.com/search">
                    <div class="columns large-offset-2 medium-6 large-6">
                        <input type="text" name="q" size="31" placeholder="Search on google" value="">
                    </div>
                    <div class="columns medium-2 large-2">
                        <input class="button expanded" type="submit" value="Google that !">
                    </div>
                </form>

                

                <div class="row align-middle" style="position:absolute; bottom:50px; width: 100%;">
                    <div class="columns"><h3 class="text-center"><i class="fi-arrow-down"></i> Learn how to use them well ? <i class="fi-arrow-down"></i></h3></div>
                </div>

            </div>
        </div>

    </div>

    <div class="section">

        <div class="slide">
            <div class="row align-middle">
                <div class="columns">
                    <h3 class="text-center">First article</h3>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="row align-middle">
                <div class="columns">
                    <h3 class="text-center">Second article</h3>
                </div>
            </div>
        </div>


        <div class="slide">
            <div class="row align-middle">
                <div class="columns">
                    <h3 class="text-center">Third one</h3>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}


{% block scriptBlock %}

    $(document).ready(function() {

        $(".incremental-counter").incrementalCounter({
          "digits": 5,
        });

        var pourcentageLife = (((27375-{{personnalCount}})*100)/27375);


        $(".progress-meter").css('width', Math.round(pourcentageLife).toString() + "%");


        $('#fullpage').fullpage();
        $('.sharetastic').sharetastic({

            sprite: "{% static 'sharetastic.svg' %}",
            popup: true,
            services: {
                print: false,
            }
        });
    });

{% endblock %}


