{% extends 'base.html' %}


{% block headBlock %}
{% load static %}

<script src="{% static 'foundation-datepicker/js/foundation-datepicker.min.js' %}"></script>
<script src="{% static 'foundation-datepicker/js/locales/foundation-datepicker.en-GB.js' %}"></script>

<link rel="stylesheet" href="{% static 'foundation-datepicker/css/foundation-datepicker.min.css' %}">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

<script src="{% static 'script.js' %}"></script>

<script src="{% static 'counter/jquery.incremental-counter.min.js' %}"></script>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.3/jquery.fullpage.min.js"></script>


{% endblock %}



{% block bodyBlock %}



<div id="fullpage">
    <div class="section">

        <div class="row align-middle" style="height:100%">
            <div class="columns">
                <div class="row align-middle">
                    <div class="columns"><div class="incremental-counter text-center" data-value="{{personnalCount}}"></div></div>
                </div>
                <br>

                <div class="row align-middle">
                    <div class="columns"><h3 class="text-center">Your count</h3></div>
                </div>

                <br><br><br><br><br><br>

                <div class="row align-middle">
                    <div class="columns"><h3 class="text-center">Want to learn how to use them well ? Then scroll !</h3></div>
                </div>
            </div>
        </div>

    </div>

    <div class="section">

        <div class="row align-middle">
            <div class="columns">
                le flux avec plein d'articles
            </div>
        </div>

    </div>
</div>



{% endblock %}


{% block scriptBlock %}


    $(document).ready(function() {

        $(".incremental-counter").incrementalCounter();
        $('#fullpage').fullpage();
    });

{% endblock %}


